# Ignora tudo
*

# Exceto README.md
!README.md

# Permite o Maven Wrapper
!.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Diretórios específicos de build que deseja manter
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Permite Docker Compose e Dockerfile
!docker-compose.yml
!Dockerfile

# Permite configurações do VS Code
!.vscode/

# Ignora IntelliJ IDEA, Eclipse e NetBeans (exceto se desejar incluir algum)
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignora arquivos específicos do Mac OS
.DS_Store
